[submodule "skse/extern/CommonLibSSE-NG"]
	path = skse/extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
[submodule "goldsrc/sdk"]
	path = goldsrc/sdk
	url = https://github.com/ValveSoftware/halflife.git
